{#
/**
* @file
* Default theme implementation to display area's fee & land rent tab.
*
* Available variables:
* - $data['fees']: fees data array.
* - $data['land_rent']: fee data array.
* - $data['historical']: historical payment data array.
* - $data['farmer_id']: farmer id.
* - $data['offer_licence_id']: area id.
* - $data['starting_amount']: staring data array.
*
* @ingroup templates
*
* @see Drupal\nfafmis\Services::getAreaLandRentAndFeesData()
* @see nfafmis_theme()
*/
#}
<div class="block-section">
  <h5 class="title"></h5>
</div>
<div class="tabs-wrapper is-horizontal">
  <ul class="tabs tabs--secondary clearfix farmer-tabs">
    <li class="tabs__tab account-list-subtab-payments">
      <a class="tabs__link tabs-item is-active">Payments</a>
    </li>
  </ul>
</div>
<section class="payments">
  <div class="center-container">
    <div class="row">
      <div class="col-md-8">
        <a class="use-ajax button" data-dialog-options="{&quot;width&quot;:880}"  data-dialog-type="dialog" data-dialog-renderer="off_canvas" href="/node/add/fee_payment_nfa?farmer_id={{data.farmer_id}}&offer_licence_id={{data.offer_licence_id}}&destination=/tree-farmer-overview/accounts%3Ftitle%3D{{title_query_param}}">Add Payment</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 views-field">
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
          <tr>
            <th>Offer/License</th>
            <th>NFA receipt date</th>
            <th>NFA receipt number</th>
            <th>Payment receipt</th>
            <th>URA PRN date</th>
            <th>URA PRN</th>
            <th>Payment type</th>
            <th>Payment amount</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          {# if empty table #}
          {% if data.fee_payments.data is empty %}
            <td class="view-empty" colspan="8">No fee payments data found for this area. {{ data.fee_payments }}</td>
          {% endif %}
          {# if empty table #}
          {% for fee_payment in data.fee_payments.data %}
            <tr>
              <td>{{ fee_payment.area_title}}</td>
              <td>{{ fee_payment.nfa_receipt_date}}</td>
              <td>{{ fee_payment.nfa_receipt_number}}</td>
              {% if fee_payment.payment_receipt is empty %}
                <td>NA</td>
              {% else %}
                <td><a href={{ fee_payment.payment_receipt}} target="_blank">Click to open</a></td>
              {% endif %}
              <td>{{ fee_payment.ura_prn_date }}</td>
              <td>{{ fee_payment.ura_prn }}</td>
              <td>{{ fee_payment.payment_type}}</td>
              <td class="text-end">UGX {{ fee_payment.payment_amount |number_format(0, '.', ',')}}</td>
              <td>
                <a class="use-ajax" data-dialog-options="{&quot;width&quot;:880}"  data-dialog-type="dialog" data-dialog-renderer="off_canvas" href="/node/{{ fee_payment.nid }}/edit?destination=/tree-farmer-overview/accounts%3Ftitle%3D{{title_query_param}}">Edit</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
